{% extends "layout_bsa.html" %}

{% block page_title %}
  TBC - External SS14 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Logout</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="new-joiner.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="service-header">
        <ul class="list">
          <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Logout</a></li>
          <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
        </ul>
        <a href="joining.html" class="link-back">Back</a>
      </div>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - SS14 Joiner</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">
            <div class="form-group">
              <label class="form-label" for="national-insurance-number">
                1. National Insurance number
              </label>
              <p>QQ 12 34 56 C</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sd-membership-number">
                2. SD Membership number
              </label>
              <p>12345678</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-date">
                3. Date of birth
              </label>
              <p>31 3 1980</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-verified">
                4. Has date of birth been verified?
              </label>
              <p>Yes</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="surname">5. Surname</label>
              <p>Smith</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="forename">6. Other names</label>
              <p>John</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="former-surname">7. Former surname (if any, optional)</label>
              <p></p>
            </div>

            <div class="form-group">
              <label class="form-label" for="title">8. Title</label>
              <p>Mr</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sex">9. Sex</label>
              <p>Male</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="payroll">10. Your payroll reference number</label>
              <p>12345678</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-place">11. HA / DPB</label>
              <p>1</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="ea-code">12. EA Code</label>
              <p>04</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="pensionable-date">13. Date practitioner became pensionable in present employment</label>
              <p>17 2 2018</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-employed">14. State whether principal or assistant practitioner or locum</label>
              <p>5</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-code">15.  State whether Mental, Dental or Opthalmic</label>
              <p>3</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-code">16. National Insurance contribution</label>
              <p>E</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="address">17. Members home address</label>
              <p>12 Some Street</p>
              <p>Liverpool</p>
              <label class="form-label" for="address-postcode">Postcode</label>
              <p>L1 2AB</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="disability">18. Disability</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="religion">19. Religion / Belief</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sexual-orientation">20. Sexual orientation</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="ethnicity-code">21. Ethnicity Code</label>
              <p>ZZ</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="area-of-work">22. Area of work</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="job-role">23. Job role</label>
              <p>Unknown</p>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="/e-forms-tiles.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
