{% extends "layout_bsa.html" %}

{% block page_title %}
  Joining or rejoining - External SS14 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Logout</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="new-joiner.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - SS14 Joiner</span>
        Joining or rejoining the scheme
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Joining or rejoining the scheme</legend>
          <p>Please leave the shaded boxes blank.</p>

          <div class="form-text">
            <div class="form-group">
              <label class="form-label" for="national-insurance-number">
                1. National Insurance number
              </label>
              <p class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60. <br />For example, 'QQ 12 34 56 C'</p>
              <input class="form-control" id="national-insurance-number" name="national-insurance-number" type="text"
              aria-describedby="national-insurance-number-hint" spellcheck="false">
            </div>

            <div class="form-group">
              <label class="form-label" for="sd-membership-number">
                2. SD Membership number
              </label>
              <p class="form-hint">This is the eight digit number</p>
              <input class="form-control" id="sd-membership-number" name="sd-membership-number" type="text"
              aria-describedby="sd-membership-number-hint" spellcheck="false">
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-date">
                3. Enter date of birth
              </label>
              <p class="form-hint">For example, 31 3 1980</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="dob-date-day">Day</label> <input class="form-control" id="dob-date-day" max="31" min="0"
                  name="dob-date-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="dob-date-month">Month</label> <input class="form-control" id="dob-date-month" max="12" min="0"
                  name="dob-date-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="dob-date-year">Year</label> <input class="form-control" id="dob-date-year" max="2014" min="0"
                  name="dob-date-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-verified">
                4. Has date of birth been verified?
              </label>
              <div class="inline">
                <div class="multiple-choice">
                  <input id="dob-verified-1" type="radio" name="dob-verified-group" value="Yes">
                  <label for="dob-verified-1">Yes</label>
                </div>
                <div class="multiple-choice">
                  <input id="dob-verified-2" type="radio" name="dob-verified-group" value="No">
                  <label for="dob-verified-2">No</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="surname">5. Surname</label>
              <input class="form-control" id="surname" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="forename">6. Other names</label>
              <input class="form-control" id="forename" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="former-surname">7. Former surname (if any, optional)</label>
              <input class="form-control" id="former-surname" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="title">8. Title
                <span class="form-hint">For example, Mr, Mrs, Miss, Ms, Dr</span></label>
              <input class="form-control" id="title" type="text">
            </div>

            <div class="form-group">
              <div class="inline">
                <label class="form-label" for="sex">9. Sex</label>
                <div class="multiple-choice">
                  <input id="sex-1" type="radio" name="radio-sex-group" value="Female">
                  <label for="sex-1">Female</label>
                </div>
                <div class="multiple-choice">
                  <input id="sex-2" type="radio" name="radio-sex-group" value="Male">
                  <label for="sex-2">Male</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="payroll">10. Your payroll reference number</label>
              <input class="form-control" id="payroll" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ha">11. HA / DPB</label>
              <input class="form-control" id="ha" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ea-code">12. EA Code</label>
              <input class="form-control" id="ea-code" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="pensionable-date">13. Date practitioner became pensionable in present employment</label>
              <p class="form-hint">For example, 15 1 2019</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="pensionable-date-day">Day</label> <input class="form-control" id="pensionable-date-day" max="31" min="0"
                  name="pensionable-date-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="pensionable-date-month">Month</label> <input class="form-control" id="pensionable-date-month" max="12" min="0"
                  name="pensionable-date-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="pensionable-date-year">Year</label> <input class="form-control" id="pensionable-date-year" max="2014" min="0"
                  name="pensionable-date-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="principal">14. State whether principal or assistant practitioner or locum</label>
              <div class="multiple-choice">
                <input id="principal-1" type="radio" name="radio-principal-group" value="Principal">
                <label for="principal-1">5 (Principal)</label>
              </div>
              <div class="multiple-choice">
                <input id="principal-2" type="radio" name="radio-principal-group" value="Assistant">
                <label for="principal-2">6 (Assistant)</label>
              </div>
              <div class="multiple-choice">
                <input id="principal-1" type="radio" name="radio-principal-group" value="Locum">
                <label for="principal-1">9 (Locum)</label>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="mental">15. State whether Mental, Dental or Opthalmic</label>
              <div class="multiple-choice">
                <input id="mental-1" type="radio" name="radio-mental-group" value="Mental">
                <label for="mental-1">3 (Mental)</label>
              </div>
              <div class="multiple-choice">
                <input id="mental-2" type="radio" name="radio-mental-group" value="Dental">
                <label for="mental-2">8 (Dental)</label>
              </div>
              <div class="multiple-choice">
                <input id="mental-1" type="radio" name="radio-mental-group" value="Opthalmic">
                <label for="mental-1">10 (Opthalmic)</label>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="ni-contribution">16. National Insurance contribution</label>
              <div class="multiple-choice">
                <input id="ni-contribution-1" type="radio" name="radio-ni-contribution-group" value="E">
                <label for="ni-contribution-1">E (Class 1, Employed Earner)</label>
              </div>
              <div class="multiple-choice">
                <input id="ni-contribution-2" type="radio" name="radio-ni-contribution-group" value="S">
                <label for="ni-contribution-2">S (Class 2, Self-Employed Earner)</label>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="address">17. Members home address</label>
              <label class="form-label" for="address-line-1"><span class="visuallyhidden">Building and street line 1 of 3</span></label>
              <input class="form-control" id="address-line-1" type="text">
              <label class="form-label" for="address-line-2"><span class="visuallyhidden">Building and street line 2 of 3</span></label>
              <input class="form-control" id="address-line-2" type="text">
              <label class="form-label" for="address-line-3"><span class="visuallyhidden">Building and street line 3 of 3</span></label>
              <input class="form-control" id="address-line-3" type="text">
              <label class="form-label" for="address-line-4"><span class="visuallyhidden">Town or city</span></label>
              <input class="form-control" id="address-line-4" type="text">
              <label class="form-label" for="address-postcode">Postcode</label>
              <input class="form-control" id="address-postcode" type="text">
              <div class="multiple-choice">
                <input id="checkbox-postcode" name="process-without-postcode" type="checkbox" value="true">
                <label for="checkbox-postcode">
                  Check box to allow this e-form to process without Post Code
                  <span class="form-hint">
                    If you do not have the members Post Code please notify us as soon as you can on e-form SD55G
                  </span>
                </label>
              </div>
            </div>


            <div class="form-group">
              <label class="form-label" for="disability">18. Disability</label>
              <select class="form-control" id="disability">
                <option>Unknown</option>
                <option>Learning Disability / Difficulty</option>
                <option>Long-Standing Illness</option>
                <option>Mental Health condition</option>
                <option>No</option>
                <option>Not Declared</option>
                <option>Other</option>
                <option>Physical Impairment</option>
                <option>Sensory Impairment</option>
                <option>Yes - unspecified</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="religion">19. Religion / Belief</label>
              <select class="form-control" id="religion">
                <option>Unknown</option>
                <option>Atheism</option>
                <option>Buddhism</option>
                <option>Christianity</option>
                <option>Hinduism</option>
                <option>Islam</option>
                <option>Judaism</option>
                <option>Not disclosed</option>
                <option>Other</option>
                <option>Sikhism</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="sexual-orientation">20. Sexual orientation</label>
              <select class="form-control" id="sexual-orientation">
                <option>Unknown</option>
                <option>Bisexual</option>
                <option>Gay</option>
                <option>Heterosexual</option>
                <option>Lesbian</option>
                <option>Not disclosed</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="ethnicity-code">21. Ethnicity Code</label>
              <input class="form-control" id="ethnicity-code" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="area-of-work">22. Area of work</label>
              <select class="form-control" id="area-of-work">
                <option>Unknown</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>...</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="job-role">23. Job role</label>
              <select class="form-control" id="job-role">
                <option>Unknown</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>...</option>
              </select>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="joining-overview.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
