{% extends "layout_bsa.html" %}

{% block page_title %}
  TBC - External SD55T - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Logout</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="select-employee.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - SD55 Termination</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <p>John Smith</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="national-insurance-number">National Insurance number</label>
              <p>QQ 12 34 56 C</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sd-membership-number">
                SD Membership number
              </label>
              <p>12345678</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="payroll">Your payroll reference number</label>
              <input class="form-control" id="payroll" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ea-code">EA Code</label>
              <p>3465</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-id">Employment ID</label>
              <p>1</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-code">Capacity code</label>
              <p>05</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-type">Is employment Whole time or Part time?</label>
              <p>Whole Time</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-type">Employment type</label>
              <p>1</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="commencement-date">
                Date of commencement
              </label>
              <p>7 3 2016</p>
              <p>If you would like to change your Date of Commencement, please contact
              <a href="#">nhsbsa.pensionswebtech@nhs.net</a> with the relevant details</p>
            </div>


            <div class="form-group">
              <label class="form-label" for="termination-date">
                Date of termination
              </label>
              <p>14 5 2019</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="completion-reason">Reason for completion code</label>
              <p>01</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="contributions-year">Contributions year</label>
              <p>2020</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employees-contributions">Employee's contributions (no AVCs)</label>
              &pound; <input class="form-control" id="employees-contributions" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employees-pensionable">Employee's pensionable pay (no deemed)</label>
              &pound; <input class="form-control" id="employees-pensionable" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="contribution-rate">Contribution rate (at date of termination)</label>
              <div class="multiple-choice">
                <input id="contribution-rate-1" type="radio" name="contribution-rate-group" value="Option 1">
                <label for="contribution-rate-1">Option 1</label>
              </div>
              <div class="multiple-choice">
                <input id="contribution-rate-2" type="radio" name="contribution-rate-group" value="Option 2">
                <label for="contribution-rate-2">Option 2</label>
              </div>
              <div class="multiple-choice">
                <input id="contribution-rate-3" type="radio" name="contribution-rate-group" value="Option 3">
                <label for="contribution-rate-3">Option 3</label>
              </div>
              <div class="multiple-choice">
                <input id="contribution-rate-4" type="radio" name="contribution-rate-group" value="Option 4">
                <label for="contribution-rate-4">Option 4</label>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="employers-contributions">Employer's contributions</label>
              &pound; <input class="form-control" id="employers-contributions" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employers-pensionable">Employer's pensionable pay (include any deemed)</label>
              &pound; <input class="form-control" id="employers-pensionable" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employers-gross">Employer's gross pay (include any non pensionable)</label>
              &pound; <input class="form-control" id="employers-gross" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employees-avc">Employee's AVCs (no money purchase)</label>
              &pound; <input class="form-control" id="employees-avc" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="errbo-contributions">ERRBO contributions</label>
              &pound; <input class="form-control" id="errbo-contributions" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="non-pensionable-days">Number of non-pensionable days</label>
              <input class="form-control" id="non-pensionable-days" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="total-hours">Total number of pensionable hours or paid sessions worked
              (part time staff only)</label>
              <input class="form-control" id="total-hours" type="text">
            </div>

            <h3 class="heading-medium">Additional Pension 1</h3>
            <div class="form-group">
              <label class="form-label" for="identifier-1">Identifier</label>
              <input class="form-control" id="identifier-1" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="contributions-1">Contributions</label>
              &pound; <input class="form-control" id="contributions-1" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="instalments-1">Instalments</label>
              <input class="form-control" id="instalments-1" type="text">
            </div>

            <h3 class="heading-medium">Additional Pension 2</h3>
            <div class="form-group">
              <label class="form-label" for="identifier-2">Identifier</label>
              <input class="form-control" id="identifier-2" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="contributions-2">Contributions</label>
              &pound; <input class="form-control" id="contributions-2" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="instalments-2">Instalments</label>
              <input class="form-control" id="instalments-2" type="text">
            </div>

            <h3 class="heading-medium">Additional Pension 3</h3>
            <div class="form-group">
              <label class="form-label" for="identifier-3">Identifier</label>
              <input class="form-control" id="identifier-3" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="contributions-3">Contributions</label>
              &pound; <input class="form-control" id="contributions-3" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="instalments-3">Instalments</label>
              <input class="form-control" id="instalments-3" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ni-earnings-1">NI earnings - enter amount of employees contracted out
              NI earnings between lower and upper earnings limit in tax year of termination
             <span class="form-hint">Whole pounds only</span></label>
              &pound; <input class="form-control" id="ni-earnings-1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ni-earnings-2">NI earnings - enter amount of employees contracted out
              NI earnings between upper and lower earnings limit in tax year <em>before</em> termination
             <span class="form-hint">Whole pounds only</span></label>
              &pound; <input class="form-control" id="ni-earnings-2" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="avc-arrears">Arrears of AVC's (not money purchase) on leaving Scheme
             <span class="form-hint">If no arrears, enter "0.00". If no AVC contract, leave blank</span></label>
              &pound; <input class="form-control" id="avc-arrears" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="ni-earnings-1">Arrears of pension contributions on leaving Scheme
             <span class="form-hint">Enter any arrears, or "0.00" if arrears notified by Agency has been collected.
             Otherwise leave blank</span></label>
              &pound; <input class="form-control" id="ni-earnings-1" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="address">Members private address</label>
              <label class="form-label" for="address-line-1"><span class="visuallyhidden">Building and street line 1 of 3</span></label>
              <input class="form-control" id="address-line-1" type="text">
              <label class="form-label" for="address-line-2"><span class="visuallyhidden">Building and street line 2 of 3</span></label>
              <input class="form-control" id="address-line-2" type="text">
              <label class="form-label" for="address-line-3"><span class="visuallyhidden">Building and street line 3 of 3</span></label>
              <input class="form-control" id="address-line-3" type="text">
              <label class="form-label" for="address-line-4"><span class="visuallyhidden">Town or city</span></label>
              <input class="form-control" id="address-line-4" type="text">
              <label class="form-label" for="address-postcode">Postcode</label>
              <input class="form-control" id="address-postcode" type="text">
            </div>

            <h3 class="heading-medium">Mid Year Contribution Rate Change (01)</h3>
            <div class="form-group">
              <label class="form-label" for="period-from">
                Period from
              </label>
              <p class="form-hint">For example, 15 1 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="period-from-day">Day</label> <input class="form-control" id="period-from-day" max="31" min="0"
                  name="period-from-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="period-from-month">Month</label> <input class="form-control" id="period-from-month" max="12" min="0"
                  name="period-from-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="period-from-year">Year</label> <input class="form-control" id="period-from-year" max="2014" min="0"
                  name="period-from-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="period-to">
                Period to
              </label>
              <p class="form-hint">For example, 23 6 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="period-to-day">Day</label> <input class="form-control" id="period-to-day" max="31" min="0"
                  name="period-to-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="period-to-month">Month</label> <input class="form-control" id="period-to-month" max="12" min="0"
                  name="period-to-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="period-to-year">Year</label> <input class="form-control" id="period-to-year" max="2014" min="0"
                  name="period-to-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="contribution-rate">Contribution rate</label>
              <select class="form-control" id="contribution-rate">
                <option>Select</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>08</option>
                <option>10</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="employee-contributions">Employee contributions</label>
              &pound; <input class="form-control" id="employee-contributions" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employee-pay">Employee pay</label>
              &pound; <input class="form-control" id="employee-pay" type="text">
            </div>

            <a href="#" role="button" class="button">Delete</a> <br /> <br />

            <h3 class="heading-medium">Mid Year Contribution Rate Change (02)</h3>
            <div class="form-group">
              <label class="form-label" for="period-from">
                Period from
              </label>
              <p class="form-hint">For example, 24 6 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="period-from-day">Day</label> <input class="form-control" id="period-from-day" max="31" min="0"
                  name="period-from-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="period-from-month">Month</label> <input class="form-control" id="period-from-month" max="12" min="0"
                  name="period-from-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="period-from-year">Year</label> <input class="form-control" id="period-from-year" max="2014" min="0"
                  name="period-from-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="period-to">
                Period to
              </label>
              <p class="form-hint">For example, 30 12 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="period-to-day">Day</label> <input class="form-control" id="period-to-day" max="31" min="0"
                  name="period-to-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="period-to-month">Month</label> <input class="form-control" id="period-to-month" max="12" min="0"
                  name="period-to-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="period-to-year">Year</label> <input class="form-control" id="period-to-year" max="2014" min="0"
                  name="period-to-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="contribution-rate">Contribution rate</label>
              <select class="form-control" id="contribution-rate">
                <option>Select</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>08</option>
                <option>10</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="employee-contributions">Employee contributions</label>
              &pound; <input class="form-control" id="employee-contributions" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="employee-pay">Employee pay</label>
              &pound; <input class="form-control" id="employee-pay" type="text">
            </div>

            <a href="#" role="button" class="button">Delete</a> <br /> <br />

            <a href="#" role="button" class="button">Add another</a> <br />

            <h3 class="heading-medium">Help for changes section</h3>
            <p>Please note, when changing to or from WT, or if there is a change in Part Time standard, please
            <a href="#">click here</a> for examples of how you should notify us of this change.</p>
            <p>Also, we can only accept up to 5 changes Online at present. If you have more, or you have any
              additional information that you wish to notify us of, please <a href="#">e-mail</a> us
              remembering to tell us your EA/GP code, name, the SD or NI Number of the member you are
              submitting the information for and the exact changes that were not submitted Online.</p>

            <p><em>Please enter your changes in date order.</em></p>

            <h3 class="heading-medium">Change in hours (1 of 5)</h3>
            <div class="form-group">
              <label class="form-label" for="period-to">
                From (if applicable)
              </label>
              <p class="form-hint">For example, 30 12 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="period-to-day">Day</label> <input class="form-control" id="period-to-day" max="31" min="0"
                  name="period-to-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="period-to-month">Month</label> <input class="form-control" id="period-to-month" max="12" min="0"
                  name="period-to-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="period-to-year">Year</label> <input class="form-control" id="period-to-year" max="2014" min="0"
                  name="period-to-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="contribution-rate">Nature of change</label>
              <select class="form-control" id="contribution-rate">
                <option>Select</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>08</option>
                <option>10</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="more-detail">Can you provide more detail? (Optional)</label>
              <textarea class="form-control" id="more-detail" name="more-detail" rows="4" style="width: 100%;"
              aria-describedby="more-detail-hint"></textarea>
            </div>

            <a href="#" role="button" class="button">Add another</a> <br />
            <br /><br />

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="joining-overview.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
