{% extends "layout_bsa.html" %}

{% block page_title %}
  TBC - External SS10GP - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="service-header">
        <ul class="list">
          <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Logout</a></li>
          <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
        </ul>
        <a href="joining.html" class="link-back">Back</a>
      </div>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Complete Joiner</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">
            <div class="form-group">
              <label class="form-label" for="national-insurance-number">
                1. National Insurance number
              </label>
              <p>QQ 12 34 56 C</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sd-membership-number">
                2. SD Membership number
              </label>
              <p>12345678</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-date">
                3. Date of birth
              </label>
              <p>31 3 1980</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="dob-verified">
                4. Has date of birth been verified?
              </label>
              <p>Yes</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="surname">5. Surname</label>
              <p>Smith</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="forename">6. Other names</label>
              <p>John</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="former-surname">7. Former surname (if any, optional)</label>
              <p></p>
            </div>

            <div class="form-group">
              <label class="form-label" for="title">8. Title</label>
              <p>Mr</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sex">9. Sex</label>
              <p>Male</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="payroll">10. GP Personal Reference Number</label>
              <p>12345678</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-place">11. Name of Practice, or other place of employment</label>
              <p>Royal Liverpool Hospital</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="ea-code">12. GP Code</label>
              <p>01</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="pensionable-date">13. Date member became pensionable in present employment</label>
              <p>15 2 2018</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-employed">14. Capacity in which employed</label>
              <p>Professional</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-code">15. Capacity code</label>
              <p>08</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="capacity-code">16. Is employment Whole Time or Part Time?</label>
              <p>Whole Time</p>
            </div>

            <h3 class="heading-medium">Only answer this question if the employment is part-time hourly</h3>
            <div class="form-group">
              <label class="form-label" for="hourly-group">17. Please give the number of hours worked as a proportion of whole-time</label>
              <p class="form-hint">Give your answers to 2 decimal places.</p>
              <label class="form-label" for="hourly-actual">Actual</label>
              <p>36.25</p>
              <label class="form-label" for="hourly-whole-time">Whole time</label>
              <p>37.50</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="address">18. Members home address</label>
              <p>12 Some Street</p>
              <p>Liverpool</p>
              <label class="form-label" for="address-postcode">Postcode</label>
              <p>L1 2AB</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="disability">19. Disability</label>
              <p>No</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="religion">20. Religion / Belief</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sexual-orientation">21. Sexual orientation</label>
              <p>Unknown</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="ethnicity-code">22. Ethnicity Code</label>
              <p>ZZ</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="area-of-work">23. Area of work</label>
              <p>Option 1</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="job-role">24. Job role</label>
              <p>Option 4</p>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="/e-forms-tiles.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
