{% extends "layout_bsa.html" %}

{% block page_title %}
  AW8 Part 3 - External AW8 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="form-part-2.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-full-width">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - AW8</span>
        Part 3
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Part 3</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="frequency">Frequency of payment?</label>
                <div class="multiple-choice">
                  <input id="frequency-1" type="radio" name="frequency-group" value="Weekly">
                  <label for="frequency-1">Weekly</label>
                </div>
                <div class="multiple-choice">
                  <input id="frequency-2" type="radio" name="frequency-group" value="Monthly">
                  <label for="frequency-2">Monthly</label>
                </div>
                <div class="multiple-choice">
                  <input id="frequency-3" type="radio" name="frequency-group" value="TBC">
                  <label for="frequency-3">TBC</label>
                </div>
            </div>

            <h3 class="heading-medium">Whole time and Part time contributors</h3>
            <p>(A) Give below dates and Total Pensionable Pay (TPP) in each of the last three years of contributing service.
            If the member is whole time and the last year is the highest, only complete the first line (i). The last day of pensionable
            membership shown here must be the same as the date shown in box 34 of the final SD55.</p>

            <h2 class="heading-large">Domiciliary Visit Fees (DVs)</h2>

            <h3 class="heading-medium">Whole time members</h3>
            <ul class="list">
              <li>(i) Include DV fees in the figures shown below</li>
              <li>(ii) Show the amount of DVs separately at (C) below</li>
            </ul>

            <h3 class="heading-medium">Whole time members</h3>
            <ul class="list">
              <li>(i) Exclude DV fees from the figures shown below</li>
              <li>(ii) Complete the whole of Part 4</li>
            </ul>

            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Dis days</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>(i) Last year</td>
                    <td>10 2 2018</td>
                    <td>9 2 2019</td>
                    <td><input class="form-control" id="dis-days-1" name="dis-days-1" type="text"></td>
                    <td>&pound; <input class="form-control" id="amount-1" name="amount-1" type="text"></td>
                  </tr>
                  <tr>
                    <td>(ii) Middle year</td>
                    <td>10 2 2017</td>
                    <td>9 2 2018</td>
                    <td><input class="form-control" id="dis-days-2" name="dis-days-2" type="text"></td>
                    <td>&pound; <input class="form-control" id="amount-2" name="amount-2" type="text"></td>
                  </tr>
                  <tr>
                    <td>(iii) Earliest year</td>
                    <td>10 2 2016</td>
                    <td>9 2 2017</td>
                    <td><input class="form-control" id="dis-days-3" name="dis-days-3" type="text"></td>
                    <td>&pound; <input class="form-control" id="amount-3" name="amount-3" type="text"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <label class="form-label" for="deemed-pensionable-pay">(B) Amount of deemed pensionable pay in respect of Sickness (not SSP),
              Staged Pay Awards, Bonus/Special Duty Payments, Merit or Distinction Awards, London Weighting in (A) above in highest
             year only</label>
              &pound; <input class="form-control" id="deemed-pensionable-pay" name="deemed-pensionable-pay" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="annual-rate">Annual rate at cessation</label>
              <p class="form-hint">Complete the annual rate of pay at cessation of employment or at last day of pensionable
              membership if earlier</p>
              &pound; <input class="form-control" id="annual-rate" name="annual-rate" type="text">
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="form-part-4.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
