{% extends "layout_bsa.html" %}

{% block page_title %}
  AW8 Part 1 - External AW8 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="select-employee.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - AW8</span>
        Part 1
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Part 1</legend>

          <h3 class="heading-medium">Name of member</h3>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="title">Title</label>
              <p>Mr</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="surname">Surname</label>
              <p>Smith</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="firstnames">Firstname(s)</label>
              <p>John</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="other-names">Other names</label>
              <p></p>
            </div>

            <div class="form-group">
              <label class="form-label" for="national-insurance-number">National Insurance number</label>
              <p>QQ 12 34 56 C</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="pension-scheme-number">NHS Pension Scheme number</label>
              <p>TBC</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="sex">Sex</label>
              <p>Male</p>
            </div>

            <h3 class="heading-medium">Claiming retirement from</h3>
            <div class="form-group">
              <label class="form-label" for="retirement-from">Last day of employment, last day of scheme membership or 75<sup>th</sup>
                birthday if earlier</label>
              <p class="form-hint">Take account of any periods of leave due and undertaken at that date of retirement</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="retirement-from-day">Day</label> <input class="form-control" id="retirement-from-day" max="31" min="0"
                  name="retirement-from-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="retirement-from-month">Month</label> <input class="form-control" id="retirement-from-month" max="12" min="0"
                  name="retirement-from-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="retirement-from-year">Year</label> <input class="form-control" id="retirement-from-year" max="2014" min="0"
                  name="retirement-from-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="scheme">Scheme</label>
              <div class="multiple-choice">
                <input id="checkbox-scheme" name="scheme" type="checkbox" value="true">
                <label for="checkbox-scheme">1995</label>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="payable-date">Payable date</label>
              <p class="form-hint">For example, TBC</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="payable-date-day">Day</label> <input class="form-control" id="payable-date-day" max="31" min="0"
                  name="payable-date-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="payable-date-month">Month</label> <input class="form-control" id="payable-date-month" max="12" min="0"
                  name="payable-date-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="payable-date-year">Year</label> <input class="form-control" id="payable-date-year" max="2014" min="0"
                  name="payable-date-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="retirement">Reason for retirement</label>
              <select class="form-control" id="retirement">
                <option>Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>

          </div>
        </fieldset>

        <p>This calculation is partly based on information that has been constructed by NHS Pensions, as the relevant employer has
        been unable to provide exact details. We have contacted the following employers to obtain this information, but without success: </p>
        <div class="form-group">
          <table>
            <thead>
              <tr>
                <th scope="col">Employer</th>
                <th scope="col">Employer code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5432 - North Staffordshire Combined Healthcare NHS Trust</td>
                <td>5432</td>
              </tr>
              <tr>
                <td>6324 - NHS Stoke on Trent</td>
                <td>6324</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>For further information please contact <a href="#">datamanagement@nhspa.gov.uk</a></p>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="form-part-2.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
