{% extends "layout_bsa.html" %}

{% block page_title %}
  AW8 TBC - External AW8 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="confirm-account.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-full-width">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - AW8</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">

            <h2 class="heading-large">Part 1</h2>
            <h3 class="heading-medium">Name of member</h3>
            <div class="form-group">
              <label class="form-label" for="title">Title</label>
              <p>Miss</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="surname">Surname</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="firstnames">Firstname(s)</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="other-names">Other names</label>
              <p>TBC</p>
            </div>
            <h3 class="heading-medium">TBC</h3>
            <div class="form-group">
              <label class="form-label" for="national-insurance-number">National Insurance number</label>
              <p>QQ 12 34 56 C</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pension-scheme-number">NHS Pension Scheme number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="sex">Sex</label>
              <p>Female</p>
            </div>
            <h3 class="heading-medium">Claiming retirement from</h3>
            <div class="form-group">
              <label class="form-label" for="retirement-from">Last day of employment, last day of scheme membership or 75<sup>th</sup>
                birthday if earlier</label>
              <p class="form-hint">Take account of any periods of leave due and undertaken at that date of retirement</p>
              <p>9 2 2019</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="scheme">Scheme</label>
              <p>1995</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="payable-date">Payable date</label>
              <p>10 2 2019</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="retirement">Reason for retirement</label>
              <p>Age</p>
            </div>
            <p>This calculation is partly based on information that has been constructed by NHS Pensions, as the relevant employer has
            been unable to provide exact details. We have contacted the following employers to obtain this information, but without success: </p>
            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Employer</th>
                    <th scope="col">Employer code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5432 - North Staffordshire Combined Healthcare NHS Trust</td>
                    <td>5432</td>
                  </tr>
                  <tr>
                    <td>6324 - NHS Stoke on Trent</td>
                    <td>6324</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>For further information please contact <a href="#">datamanagement@nhspa.gov.uk</a></p>

            <h2 class="heading-large">Part 2</h2>
            <div class="form-group">
              <label class="form-label" for="employed-as">Employed as</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="place-of-employment">Place of employment</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-code">EA Code number</label>
              <p>5427</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob">Date of birth</label>
              <p>6 8 1960</p>
            </div>

            <h2 class="heading-large">Part 3</h2>
            <div class="form-group">
              <label class="form-label" for="frequency">Frequency of payment?</label>
              <p>Monthly</p>
            </div>
            <h3 class="heading-medium">Whole time and Part time contributors</h3>
            <p>(A) Give below dates and Total Pensionable Pay (TPP) in each of the last three years of contributing service.
            If the member is whole time and the last year is the highest, only complete the first line (i). The last day of pensionable
            membership shown here must be the same as the date shown in box 34 of the final SD55.</p>
            <h2 class="heading-large">Domiciliary Visit Fees (DVs)</h2>
            <h3 class="heading-medium">Whole time members</h3>
            <ul class="list">
              <li>(i) Include DV fees in the figures shown below</li>
              <li>(ii) Show the amount of DVs separately at (C) below</li>
            </ul>
            <h3 class="heading-medium">Part time members</h3>
            <ul class="list">
              <li>(i) Exclude DV fees from the figures shown below</li>
              <li>(ii) Complete the whole of Part 4</li>
            </ul>
            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Dis days</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>(i) Last year</td>
                    <td>10 2 2018</td>
                    <td>9 2 2019</td>
                    <td>0</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="5">*Last years actual TPP DOES NOT reconcile with the employer pay <br />
                    Reason: xxx</td>
                  </tr>
                  <tr>
                    <td>(ii) Middle year</td>
                    <td>10 2 2017</td>
                    <td>9 2 2018</td>
                    <td>0</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="5">*Middle years actual TPP DOES NOT reconcile with the employer pay</td>
                  </tr>
                  <tr>
                    <td>(iii) Earliest year</td>
                    <td>10 2 2016</td>
                    <td>9 2 2017</td>
                    <td>0</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="5">*Earliest years actual TPP DOES NOT reconcile with the employer pay</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label class="form-label" for="deemed-pensionable-pay">(B) Amount of deemed pensionable pay in respect of Sickness (not SSP),
              Staged Pay Awards, Bonus/Special Duty Payments, Merit or Distinction Awards, London Weighting in (A) above in highest
             year only</label>
              <p>&pound;00.00</p>
            </div>

            <h2 class="heading-large">Part 4</h2>
            <div class="form-group">
              <label class="form-label" for="deemed-pensionable-pay">(B) Has the Specialist been entitled to the percentage increase
              in pensionable pay set out in the Terms and Conditions of Service for Hospital Medical and Dental Staff for their part
              time service?</label>
              <p>No</p>
            </div>
            <h3 class="heading-medium">For all Part Time members</h3>
            <p>Please give the Notional Whole Time pensionable pay fo reach of the last 3 years, or lesser period if applicable.
            This figure should be the pensionable pay that would have been paid in a single comparable with whole time employment</p>
            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Year</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Last</td>
                    <td>10 2 2018</td>
                    <td>9 2 2019</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4">NWT figures have not been reconciled</td>
                  </tr>
                  <tr>
                    <td>Middle</td>
                    <td>10 2 2017</td>
                    <td>9 2 2018</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4">NWT figures have not been reconciled</td>
                  </tr>
                  <tr>
                    <td>Earliest</td>
                    <td>10 2 2016</td>
                    <td>9 2 2017</td>
                    <td>&pound;0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4">NWT figures have not been reconciled</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3 class="heading-medium">For Part time Specialists</h3>
            <p>(i) INCLUDE Distinction Awards. Show class (eq A, B, C):</p>
            <p>(ii) EXCLUDE any Domiciliary visit fees</p>

            <h2 class="heading-large">Part 6</h2>
            <h3 class="heading-medium">1. Your name</h3>
            <div class="form-group">
              <label class="form-label" for="title">a) Title</label>
              <p>Miss</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="surname">b) Surname</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="firstname">c) Firstname(s)</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="other-names">d) Other names</label>
              <p></p>
            </div>
            <h3 class="heading-medium">2. Address for future corespondence</h3>
            <div class="form-group">
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
              <label class="form-label" for="address-postcode">Postcode</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="iso">ISO country code</label>
              <p>GB - UNITED KINGDOM</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="telephone">Home telephone number (no spaces)</label>
              <p>TBC</p>
            </div>
            <h3 class="heading-medium">3. Details of other jobs</h3>
            <p class="form-hint">Only complete this item if you are under the age of 60. Please read the booklet</p>
            <div class="form-group">
              <label class="form-label" for="any-work">(i) Have you any other work in the NHS at the time of retirement from this job?</label>
              <p>No</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="re-employed">(ii) Will you be re-employed in the NHS after retirement from this job?</label>
              <p>No</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="work">(iii) If you select yes at (i) or (ii) above, please tell us below
              about the work you will be doing</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="place-of-employment">Place of employment</label>
              <p class="form-hint">Please provide name and address of employer, HA or PCT that is or will be responsible for
              the paymetn of fees. If you are a Dental Practitioner just enter DPB</p>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="job">What is your job, or what will be your job?</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="continue-after-retire">Will your other work at (i) above continue after you retire?</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="">On what date will any work at (ii) above begin?</label>
              <p></p>
            </div>
            <h3 class="heading-medium">4. Allocation of pension</h3>
            <div class="form-group">
              <label class="form-label" for="allocate">Does member wish to allocate part of their pension?</label>
              <p>No</p>
            </div>
            <h3 class="heading-medium">5. Does the member want an additional lump sum by giving up part of their pension?</h3>
            <div class="form-group">
              <p>No</p>
            </div>
            <h3 class="heading-medium">6. Send details of marital status, family and certificates direct to the Agency</h3>
            <div class="form-group">
              <label for="checkbox-certificates">Has member indicated that they wish to send certificates direct to the Agency?</label>
              <p>No</p>
            </div>
            <h3 class="heading-medium">7. Marital status?</h3>
            <div class="form-group">
              <p>Single</p>
            </div>
            <h3 class="heading-medium">8. Do you have any dependant children, if so, how many?</h3>
            <div class="form-group">
              <p>0</p>
            </div>

            <h2 class="heading-large">Part 7</h2>

            <h2 class="heading-large">Part 8 - HM Revenue and Customs (HMRC) information screen</h2>
            <div class="form-group">
              <label class="form-label" for="retirement-arrangements">Are there any retirement arrangements outise the NHS Pension Scheme?</label>
              <p>No</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="annual-pension">Will the annual pension from all pension arrangements, including
                the NHS Pension Scheme be more than &pound;30,000 a year?</label>
              <p>NO</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pensions-benefits">Pension benefits taken on or after 6 April 2006?</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="total-aggregated">Total aggregated % of LTA used</label>
              <p> &#37;</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="crystallisation">Date of first Benefit Crystallisation Event</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pension-benefits-before">Pension benefits taken before 6 April 2006?</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="gross-pension">Gross annual pension in payment today or at date of first BCE</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="lta">Should NHS Pension Scheme benefits be treated as entirely in excess of the LTA?</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-responsible">Valid enhanced primary fixed protection (2012, 2014 or 2016) or
              individual protection certificate number</label>
            </div>

            <h2 class="heading-large">Part 9</h2>
            <div class="form-group">
              <label class="form-label" for="insurance-policy">Have you ever been a member of an Insurance Policy based pension scheme?</label>
              <p>No</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="address">Address</label>
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
              <label class="form-label" for="address-postcode">Postcode</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="foreign-address">Is address foreign?</label>
              <p>No</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="iso-code">ISO Country Code</label>
              <p>GB - UNITED KINGDOM</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="change-date">
                Date of the change
              </label>
              <p>TBC</p>
            </div>
            <h3 class="heading-medium">Bank or building society account details</h3>
            <div class="form-group">
              <label class="form-label" for="account-type">Type of account</label>
              <p>British</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="account-number">Account number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="roll-number">Roll number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="branch-sort-code">Branch sort code</label>
              <p>TBC</p>
            </div>
            <h3 class="heading-medium">Full name and address of your bank / building society</h3>
            <div class="form-group">
              <label class="form-label" for="bank-name">Name of bank or building society</label>
              <p>HSBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="address">Address</label>
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employment-type">Account type</label>
              <p>TBC</p>
            </div>
            <h3 class="heading-medium">Other pensions</h3>
            <div class="form-group">
              <label class="form-label" for="paymaster-details">If you have any other pensions paid by PAYMASTER please give details</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="paymaster-ref">PAYMASTER reference number of any other pension</label>
              <p>TBC</p>
            </div>

            <h3 class="heading-medium">Voluntary deductions?</h3>
            <p>Yes</p>


          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="confirmation.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
