{% extends "layout_bsa.html" %}

{% block page_title %}
  Specific error - Error handling - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="error-list.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Error handling</span>
        Error
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Error</legend>

          <div class="form-text">

            <div class="form-group">
              <p>Click <a href="#">here</a> to view the ADP4</p>
            </div>

            <div class="form-group">
            <table>
              <thead>
                <tr>
                  <th colspan="2">Error details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Error code</td>
                  <td>0403</td>
                </tr>
                <tr>
                  <td>Error description</td>
                  <td>Mid Year Contribution Rate History Invalid</td>
                </tr>
                <tr>
                  <td>Field in error</td>
                  <td>NA</td>
                </tr>
                <tr>
                  <td>Data in error</td>
                  <td>No mid year conts for existing contrate year</td>
                </tr>
              </tbody>
            </table>
            </div>

            <div class="form-group">
              <label class="form-label" for="surname">Surname</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="forename">Forename</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="nino">Nino</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="membership-number">Membership number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-ref">EA Reference number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="start-date">Start date</label>
              <p>28 3 2016</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employer-id">Emp ID</label>
              <p>2</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-code">EA / GP code</label>
              <p>5663</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="target-date">Target date</label>
              <p>28 5 2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="form">Form</label>
              <p>SD55</p>
            </div>

            <h3 class="heading-medium">TBC (e.g. Actions)</h3>
            <ul class="list">
              <li><a href="amend.html">Amend and / or re-submit</a></li>
              <li><a href="view-data.html">View data only</a></li>
              <li><a href="#">Re-allocate error back to NHS Pensions</a></li>
              <li><a href="extend-target-date.html">Extend target date</a></li>
              <li><a href="delete-error.html">Delete error</a></li>
              <li><a href="error-list.html">Return to error list</a></li>
            </ul>

        </div>
      </fieldset>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
