{% extends "layout_bsa.html" %}

{% block page_title %}
  View data - Error handling - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="/e-forms-tiles.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Error handling</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="nino">NI number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="sd-number">SD number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="payroll-ref">Your Payroll Reference number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-code">EA Code</label>
              <p>5663</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employment-id">Employment ID</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="capacity-code">Capacity Code</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="status">WT / PT status</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employment-type">Employment type</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="date-of-commencement">Date of commencement</label>
              <p>6 11 2015</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="contributions-year">Contributions year</label>
              <p>2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employees-contributions">Employee's contributions (no AVCs)</label>
              <p>&pound;2.43</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employees-pensionable">Employee's pensionable pay (no deemed)</label>
              <p>&pound;43.39</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="contribution-rate">Contribution rate</label>
              <p>5.60%</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employers-contributions">Employer's contributions</label>
              <p>&pound;6.24</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employers-pensionable">Employer's pensionable pay (include any deemed)</label>
              <p>&pound;43.39</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employees-gross">Employee's gross pay (include any non pensionable)</label>
              <p>&pound;48.81</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employees-avc">Employee's AVCs (no money purchase)</label>
              <p>&pound;</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="errbo-contributions">ERRBO contributions</label>
              <p>&pound;</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pensionable-days">Number of non-pensionable days</label>
              <p>0</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="total-hours">Total number of pensionable hours or paid sessions worked (part time staff only)</label>
              <p>5</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="address">Member's private address</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="post-code">Post code</label>
              <p></p>
            </div>

            <div class="form-group">
              <p>Changes are shown when you amend and / or re-submit the form</p>
            </div>

        </div>
      </fieldset>

      <a href="#" role="button" class="button">Return to error</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
