{% extends "layout_bsa.html" %}

{% block page_title %}
  Print page - External RF12 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="#" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - RF12</span>
        Part A
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Part A</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="ni-number">NI number</label>
              <p>NR361065C</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ref-number">Pension reference number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="title">Title</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="surname">Surname</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="forenames">Forenames</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="previous-surname">Previous surname</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob">Date of birth</label>
              <p>01/10/1968</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="last-membership-day">Last day of membership</label>
              <p>05/04/2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-code">EA Code</label>
              <p>D266</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="termination-reason">Reason for termination</label>
              <p>01</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="address">Address</label>
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
              <p>TBC</p>
              <p>Post code</p>
              <p>TBC</p>
              <p>Country</p>
              <p>TBC</p>
            </div>

            <h2 class="heading-large">Part B</h2>
            <div class="form-group">
              <label class="form-label" for="method-of-payment">Method of payment</label>
              <p>Into a bank / building society</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="bank-name">Name of bank / building society</label>
              <p>HSBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="sort-code">Sort code</label>
              <p>300100</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="account-number">Account number</label>
              <p>01234567</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="roll-number">Building society roll number</label>
              <p>1234567</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="account-type">Account type</label>
              <p>Current</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="contracted-out">Contracted out NI Earnings?</label>
              <p>No</p>
            </div>

            
          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="#" role="button" class="button">Print RF12 form and return to E-Forms menu</a>

      </form>


    </div>
  </div>
</main>

{% endblock %}
