{% extends "layout_bsa.html" %}

{% block page_title %}
  Select Employee Refund application form - External RF12 - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="/e-forms-tiles.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - RF12</span>
        Enter NI number or SD Membership number
      </h1>

      <h3 class="heading-medium">Before you complete this form, please ensure:</h3>
      <p>Form RF12 has been completed and signed by both parties.</p>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Enter NI number or SD Membership number</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="national-insurance-number">
                National Insurance number
              </label>
              <p class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60. <br />For example, 'QQ 12 34 56 C'</p>
              <input class="form-control" id="national-insurance-number" name="national-insurance-number" type="text"
              aria-describedby="national-insurance-number-hint" spellcheck="false">
            </div>
            <p>OR</p>
            <div class="form-group">
              <label class="form-label" for="sd-membership-number">
                SD Membership number
              </label>
              <p class="form-hint">This is the eight digit number</p>
              <input class="form-control" id="sd-membership-number" name="sd-membership-number" type="text"
              aria-describedby="sd-membership-number-hint" spellcheck="false">
            </div>

            <div class="form-group">
              <label class="form-label" for="termination-date">Date of termination</label>
              <p class="form-hint">For example, TBC</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="termination-date-day">Day</label> <input class="form-control" id="termination-date-day" max="31" min="0"
                  name="termination-date-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="termination-date-month">Month</label> <input class="form-control" id="termination-date-month" max="12" min="0"
                  name="termination-date-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="termination-date-year">Year</label> <input class="form-control" id="termination-date-year" max="2014" min="0"
                  name="termination-date-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="joining.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
