{% extends "layout_bsa.html" %}

{% block page_title %}
  Processing - Notifications - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="#" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Notifications</span>
        Please wait - loading data...
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Please wait - loading data...</legend>

          <div class="form-text">

            <p>With a high number of notifications this can take several minutes. Please be patient.</p>
            <img src="/public/v6/images/spinner.gif" alt="Spinner" />

          </div>
        </fieldset>

      </form>

      <script>
      window.setTimeout(function(){
          window.location.href = "#";
          }, 3000);
      </script>

    </div>
  </div>
</main>

{% endblock %}
