{% extends "layout_bsa.html" %}

{% block page_title %}
  TBC - Notifications - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="#" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Notifications</span>
        TBC
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">TBC</legend>

          <div class="form-text">

            <div class="form-group">
              <p>This record has been removed from the list of notifications</p>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="#" role="button" class="button">OK</a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
