{% extends "layout_bsa.html" %}

{% block page_title %}
  SD55 Notifications - Notifications - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="#" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Notifications</span>
        SD55 Notifications
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">SD55 Notifications</legend>

          <div class="form-text">

            <p>You are currently logged-in as an Employer for EA 4824</p>
            <p>This employment has been updated to 01 Nov 2018</p>
            <div class="form-group">
              <label class="form-label" for="ni-number">NI number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="sd-number">SD number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="surname">Surname</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="forenames">Forenames</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob">DOB</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob">DOB verification</label>
              <p>Yes</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="ea-ref">EA Reference</label>
              <p>27530281-2</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="doc">DOC</label>
              <p>01-Nov-2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employment-id">Employment ID</label>
              <p>5</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="job-code">Job code</label>
              <p>03</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="employment-type">Employment type</label>
              <p>Non-Specialist</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pt-indicator">PT / WT Indicator</label>
              <p>Part time</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pt-fraction">PT Fraction</label>
              <p></p>
            </div>
            <div class="form-group">
              <label class="form-label" for="">As and When Indicator</label>
              <p>Y</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="locum-indicator">Locum Indicator</label>
              <p>N</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="scheme">Scheme</label>
              <p>2015</p>
            </div>

            <h3 class="heading-medium">Comments</h3>
            <p>There are no comments</p>
            <p>If you wish to remove this record from the list, please click the remove button.</p>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="#" role="button" class="button">Remove</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
