{% extends "layout_bsa.html" %}

{% block page_title %}
  Rewind employment form submitted - Rewind Employment - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="done-panel done-panel--center">
        <h1 class="heading-xlarge"><span id="done-tick"></span>Rewind employment form submitted</h1>
        <h2 class="heading-large"><span class="heading-secondary">Your request to rewind this employment has now been submitted.
          Thank you.</span></h2>
      </div>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="/e-forms-tiles.html" role="button" class="button">Continue</a>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
