{% extends "layout_bsa.html" %}

{% block page_title %}
  Projecting ill health retirement benefits - Ill Health - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="#" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-full-width">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - Ill Health</span>
        NHS Pension Scheme (2008 Section) Ill Health Retirement Benefit Estimate
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">NHS Pension Scheme (2008 Section) Ill Health Retirement Benefit Estimate</legend>

          <div class="form-text">

            <p><a href="#">Click here</a> for a printer friendly version.</p>
            <div class="form-group">
              <label class="form-label" for="name">Name</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob">Date of birth</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="membership-number">Membership number</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="reckonable-pay">Reckonable pay</label>
              <p>&pound;16878.45</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="membership">Membershp up to 31-Jul-2016</label>
              <p>7 years 076 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="first-day-pensionable">First day of pensionable employment</label>
              <p>26/05/2008</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="last-day-pensionable">Last day of pensionable employment</label>
              <p>31/07/2016</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="date-estimated">Date estimated to</label>
              <p>01/04/2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="projected-membership">Projected membership to date of retirement</label>
              <p>0 years 000 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="additional-membership">Additional membership at date of retirement</label>
              <p>0 years 000 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="membership-transferred">Membership transferred from a former scheme</label>
              <p>0 years 000 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="mental-health-entitlement">Mental health officer doubled years entitlement</label>
              <p>0 years 000 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="non-pensionable-employment">Non-pensionable employment (unpaid absence)</label>
              <p>0 years 000 days</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="total-membership">Total membership at date of retirement</label>
              <p>7 years 076 days</p>
            </div>

            <h3 class="heading-medium">Current value of benefits</h3>
            <div class="form-group">
              <label class="form-label" for="pension">Pension</label>
              <p>&pound;2,027.73 a year</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="lump-sum">Lump Sum Retiring Allowance</label>
              <p>&pound;0.00</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="survivor-pension">Survivor Pension</label>
              <p>&pound;760.40 a year</p>
            </div>
            <p>At retirement you can increase your Lump Sum Retiring Allowance by giving up some of your Pension. If you chose to get the maximum
            amount of Lump Sum Retiring Allowance, your pension benefits would be:</p>
            <div class="form-group">
              <label class="form-label" for="pension-reduced">Pension (reduced)</label>
              <p>&pound;1,303.54 a year</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="lump-sum-maximum">Lump Sum Retiring Allowance (maximum)</label>
              <p>&pound;8,690.27</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="survivor-pension">Survivor Pension</label>
              <p>&pound;760.40 a year</p>
            </div>

            <h2 class="heading-large">NHS Pension Scheme (2015 Section) Ill Health Retirement Benefit Estimate</h2>
            <div class="form-group">
              <label class="form-label" for="name-2015">Name</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="dob-2015">Date of birth</label>
              <p>TBC</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="membership-number-2015">Membership number</label>
              <p>60132871</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="nino">National Insurance number</label>
              <p>WK913179C</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="first-day-pensionable-2015">First day of pensionable employment</label>
              <p>01/08/2016</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="last-updated">Last updated</label>
              <p>31/03/2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="date-estimated-2015">Date estimated to</label>
              <p>01/04/2018</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="pension-transferred">Pension transferred from former scheme(s)</label>
              <p>&pound;0.00</p>
            </div>
            <p>Transfer amounts shown above are from Public Sector schemes only. If you transferred in membership from elsewhere, this will be
            included on the enclosed pensionable earnings statement in the scheme year in which the transfer was received.</p>
            <div class="form-group">
              <label class="form-label" for="additional-pension-2015">Additional Pension</label>
              <p>&pound;0.00</p>
            </div>
            <p>Any Transfer and Additional Pension will be included in the benefits quoted below (if applicable)</p>

            <h3 class="heading-medium">Ill health retirement tiers</h3>
            <div class="form-group">
              <label class="form-label" for="tier-1">Tier 1</label>
              <p>Pension already earned without reduction</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="tier-2">Tier 2</label>
              <p>Tier 1 plus the 'tier 2 addition' which is pro rata enhancement based on 1/2 of the prospective pension to normal
              pension age</p>
            </div>

            <h3 class="heading-medium">Accured Benefits (Tier 1 Pension)</h3>
            <div class="form-group">
              <label class="form-label" for="accrued-pension">Pension</label>
              <p>&pound;2.22 a year</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="survivor-pension">Survivor Pension</label>
              <p>&pound;0.75 a year</p>
            </div>
            <p>You have the option of receiving a lump sum retiring allowance by giving up some of your pension (including any additional
              pensions you may have bought). If you chose to receive the maximum amount of Lump Sum Retiring Allowance, your pension benefits would be:</p>
            <div class="form-group">
              <label class="form-label" for="pensions-reduced-2015">Pension (reduced)</label>
              <p>&pound;1.43 a year</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="lump-sum-2015">Lump Sum Retiring Allowance (maximum)</label>
              <p>&pound;9.51</p>
            </div>

            <h3 class="heading-medium">Accrued Benefits (Tier 2 Pension)</h3>
            <div class="form-group">
              <label class="form-label" for="pension-tier-2">Pension</label>
              <p>&pound;7.38 a year</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="lump-sum-tier-2">Lump Sum Retiring Allowance (maximum)</label>
              <p>&pound;31.63</p>
            </div>

            <h3 class="heading-medium">Death Benefits</h3>
            <div class="form-group">
              <label class="form-label" for="life-assurance">Life Assurance Lump Sum</label>
              <p>&pound;19,895.08 For death in service only</p>
            </div>

            <h3 class="heading-medium">Pensionable Earnings Statement</h3>
            <div class="form-group">
              <label class="form-label" for="member-name">Member name</label>
              <p>Pauline Smith</p>
            </div>
            <div class="form-group">
              <label class="form-label" for="sd">SD</label>
              <p>60132871</p>
            </div>


                        <div class="form-group">
                          <table>
                            <thead>
                              <tr>
                                <th scope="col">Year end</th>
                                <th class="numeric" scope="col">Pensionable earnings</th>
                                <th class="numeric" scope="col">Pension earned</th>
                                <th class="numeric" scope="col">Revaluation</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>2018</td>
                                <td class="numeric">&pound;9,854.54</td>
                                <td class="numeric">&pound;182.49</td>
                                <td class="numeric">4.50</td>
                              </tr>
                                <tr>
                                  <td>2017</td>
                                  <td class="numeric">&pound;9,451.38</td>
                                  <td class="numeric">&pound;175.03</td>
                                  <td class="numeric">2.50</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>


          </div>
        </fieldset>


      </form>

      <hr />
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>
      <p><a href="#">Exit member record</a></p>

    </div>
  </div>
</main>

{% endblock %}
