{% extends "layout_bsa.html" %}

{% block page_title %}
  E-forms - Employer Hub - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online</span>
        E-forms
      </h1>

      <ul class="list">
        <li>
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Joiner</span>
            <a href="#">SS10</a>
          </h1>
        </li>
        <li>
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Annual update</span>
            <a href="#">SD55</a>
          </h1>
        </li>
        <li>
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Application for payment of Pension Benefit</span>
            <a href="#">AW8</a>
          </h1>
        </li>
        <li>
          <h1 class="heading-xlarge">
            <span class="heading-secondary">Application for Refund of Contributions</span>
            <a href="#">RF12</a>
          </h1>
        </li>
      </ul>

      <div>
        <ul class="list column-one-half">
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">ADP4</a></h3>
            <p style="min-height: 45px;">EA Code change</p>
          </li>
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">AW8P</a></h3>
            <p style="min-height: 45px;">Application for payment of Deferred Pension Benefits</p>
          </li>
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">SD55E</a></h3>
            <p style="min-height: 45px;">Change a members employment details</p>
          </li>
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">SD55G</a></h3>
            <p style="min-height: 45px;">Updating a members personal detail</p>
          </li>
        </ul>

        <ul class="list column-one-half">
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">SD55T</a></h3>
            <p style="min-height: 45px;">Terminating a period of membership</p>
          </li>
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">SS10GP</a></h3>
            <p style="min-height: 45px;">GP Joiner</p>
          </li>
          <li>
            <h3 class="heading-medium" style="margin-bottom: 0;"><a href="#">SS14</a></h3>
            <p style="min-height: 45px;">GP Joiner</p>
          </li>
        </ul>
      </div>

      <!-- line break added to clear floating in inline style above -->
      <br style="clear: both;" />

      <h3 class="heading-medium">Need help?</h3>
      <p>Check out our <a href="#">e-form help guide</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
