{% extends "layout_bsa.html" %}

{% block page_title %}
  E-forms - Employer Hub - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online</span>
        E-forms
      </h1>

      <ul class="grid-row grid-row--flex">
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading">SD</h3>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-card__actions-list">
                <li><a href="#">SD55 - Annual update</a></li>
                <li><a href="#">SD55T - Terminating a period of membership</a></li>
                <li><a href="#">SD55G - Updating a members personal detail</a></li>
                <li><a href="#">SD55E - Change a members employment details</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading">SS</h3>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-card__actions-list">
                <li><a href="#">SS10 - Joiner</a></li>
                <li><a href="#">SS10GP - GP Joiner</a></li>
                <li><a href="#">SS14 - GP Joiner</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading">AW</h3>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-card__actions-list">
                <li><a href="#">AW8 - Application for payment of Pension Benefit</a></li>
                <li><a href="#">AW8P - Application for payment of Deferred Pension Benefits</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading">Others</h3>
            </div>
            <div class="govuk-card__actions">
              <ul class="govuk-card__actions-list">
                <li><a href="#">RF12 - Application for Refund of Contributions</a></li>
                <li><a href="#">ADP4 - EA Code change</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <h3 class="heading-medium">Need help?</h3>
      <p>Check out our <a href="#">e-form help guide</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
