{% extends "layout_bsa.html" %}

{% block page_title %}
  Employer services - Employer Hub - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online</span>
        Please select an area of the site you'd like to visit
      </h1>

      <ul class="grid-row grid-row--flex">
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading"><a href="#">E-Forms</a></h3>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading"><a href="#">Memberzone</a></h3>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading"><a href="#">Notifications</a></h3>
            </div>
          </div>
        </li>
        <li class="column-one-third-lg">
          <div class="govuk-card">
            <div class="govuk-card__content">
              <h3 class="heading-medium govuk-card__heading"><a href="#">Error handling</a></h3>
            </div>
          </div>
        </li>
      </ul>

      <h3 class="heading-medium">Incorrect email?</h3>
      <p>Welcome to the NHS Pensions Online Service. Your email address is <a href="#">example@nhs.gov.uk</a>. If this is incorrect please
      ask your administrator to amend your email address.</p>

      <h3 class="heading-medium">Please note</h3>
      <p>All benefit values quoted on Pensions Online are based on the Pensionable Pay...</p>

    </div>
  </div>
</main>

{% endblock %}
