{% extends "layout_bsa.html" %}

{% block page_title %}
  Log in - Employer Hub - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Employer hub</span>
        Log in using MCP credentials
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Log in using MCP credentials</legend>

          <div class="form-text">
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" id="username" name="username" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" id="password" name="password" type="text">
            </div>
          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="ea-code.html" role="button" class="button">Sign in</a>

      </form>

      <p style="padding-top: 15px;"><a href="#">Create an account</a></p>

      <div class="form-group">
        <h2 class="heading-large">Problems signing in</h2>
        <ul class="list">
          <li><a href="#">I have forgotten my password</a></li>
          <li><a href="#">I have forgotten my username</a></li>
        </ul>
      </div>

    </div>
  </div>
</main>

{% endblock %}
