{% extends "layout_bsa.html" %}

{% block page_title %}
  Sign in - Employer Hub - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Employer hub</span>
        Sign in
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Sign in</legend>

          <div class="form-text">
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" id="username" name="username" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" id="password" name="password" type="text">
            </div>
          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="ea-code.html" role="button" class="button">Sign in</a>

      </form>


    </div>
  </div>
</main>

{% endblock %}
