{% extends "layout_bsa.html" %}

{% block page_title %}
  Employment details - External SD55E - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="select-employee.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - SD55E</span>
        Closed employments
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Closed employments</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="national-insurance-number">National Insurance number</label>
              <p>QQ 12 34 56 C</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="commencement">Date of commencement for the closed employment</label>
              <p class="form-hint">For example, 15 3 2016</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="commencement-day">Day</label> <input class="form-control" id="commencement-day" max="31" min="0"
                  name="commencement-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="commencement-month">Month</label> <input class="form-control" id="commencement-month" max="12" min="0"
                  name="commencement-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="commencement-year">Year</label> <input class="form-control" id="commencement-year" max="2014" min="0"
                  name="commencement-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="termination">Date of termination</label>
              <p class="form-hint">For example, 27 8 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="termination-day">Day</label> <input class="form-control" id="termination-day" max="31" min="0"
                  name="termination-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="termination-month">Month</label> <input class="form-control" id="termination-month" max="12" min="0"
                  name="termination-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="termination-year">Year</label> <input class="form-control" id="termination-year" max="2014" min="0"
                  name="termination-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="employment-id">Employment ID</label>
              <input class="form-control" id="employment-id" type="text">
            </div>

            <div class="form-group">
              <label class="form-label" for="amend-year">Which year do you wish to amend?</label>
              <input class="form-control" id="amend-year" type="text">
            </div>

            <p>OR</p>

            <div class="form-group">
              <label class="form-label" for="revised-termination">Revised date of termination</label>
              <p class="form-hint">For example, 6 11 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="revised-termination-day">Day</label> <input class="form-control" id="revised-termination-day" max="31" min="0"
                  name="revised-termination-day" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-month">
                  <label for="revised-termination-month">Month</label> <input class="form-control" id="revised-termination-month" max="12" min="0"
                  name="revised-termination-month" pattern="[0-9]*" type="number">
                </div>
                <div class="form-group form-group-year">
                  <label for="revised-termination-year">Year</label> <input class="form-control" id="revised-termination-year" max="2014" min="0"
                  name="revised-termination-year" pattern="[0-9]*" type="number">
                </div>
              </div>
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="update.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
