{% extends "layout_bsa.html" %}

{% block page_title %}
  Employment details - External SD55E - Pensions Online - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="service-header">
    <ul class="list">
      <li><a class="log-out-link" id="logout-link" href="/employer-service/fic/logout">Sign out</a></li>
      <li><a class="log-out-link" id="change-password-link" href="/employer-service/fic/change-password">Change your password</a></li>
    </ul>
    <a href="select-employee.html" class="link-back">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Pensions Online - SD55E</span>
        Update
      </h1>

      <form action="" method="get" class="form">
        <fieldset>
          <legend class="visuallyhidden">Update</legend>

          <div class="form-text">

            <div class="form-group">
              <label class="form-label" for="start-date">Employment start date</label>
              <p>6 12 2017</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="updated-to">Employment updated to</label>
              <p>31 3 2018</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="identifier">Employment Identifier</label>
              <p>3</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="amendment">Years available for amendment</label>
              <p>2018 - 2018</p>
            </div>

            <div class="form-group">
              <label class="form-label" for="amend-year">Enter the year that you wish to amend for WK971111B</label>
              <input class="form-control" id="amend-year" type="text">
            </div>

          </div>
        </fieldset>

        <!-- button link
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
        -->

        <a href="update.html" role="button" class="button">Continue</a>

      </form>

      <hr />
      <p><a href="#">Print this page</a></p>
      <p><a href="/employer-services.html">Back to Employer Services home</a></p>

    </div>
  </div>
</main>

{% endblock %}
